*~
*/obj/
*.csproj.user
*.sdf
*.opensdf
*.suo
/Debug/
/Release/
/Examples/bin/
*.tmp_proj
src/.idea/.idea.src/riderModule.iml
src/.idea/.idea.src/.idea/contentModel.xml
src/.idea/.idea.src/.idea/indexLayout.xml
src/.idea/.idea.src/.idea/modules.xml
src/.idea/.idea.src/.idea/workspace.xml
